h1 {
  display: flex;
  justify-content: center;
}

#RegisterPage button {
  color:white;
  background-color: green;
  border:5px solid rgb(28, 61, 4);
  box-shadow: 0 4px 10px rgb(15, 68, 2);
  padding: 15px;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

#seccion1_RegisterPage-form {
  display: grid;
  justify-content: center;
}

#RegisterPage_submit_button {
  display: flex;
  justify-content: center;
}
